BasedOnStyle: Google
Language: Cpp
Standard: c++20
ColumnLimit: 120
IndentWidth: 4
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Inline
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Left
NamespaceIndentation: None
SortIncludes: true
SpaceAfterTemplateKeyword: true
